services:
  db:
    image: postgres:12
    container_name: fooddb

    environment:
      POSTGRES_DB: fooddb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

    ports:
      - "5439:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes: 
  postgres_data:
